.grid-container {
    --gap: 10px;
    display: grid;
    gap: var(--gap);

    grid-template-columns:
        repeat(auto-fit,
            minmax(clamp(32% - var(--gap), 130px, 100%),
                1fr));
    align-items: center;
}

.grid-element img {
    width: 100%;
}

.grid-element .title-card {
    text-align: center;
    border: 1px solid salmon;
    border-radius: 1em;
}